.featured-property {
  @include section-rs(1210px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $sm) {
    min-height: auto;
  }
}

.featured-property .wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featured-property .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 21px;
    color: #c4c4c4;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
    color: #333333;
    max-width: 355px;
  }
}

.featured-property .page {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  &--active {
    display: flex;
  }
}

.featured-property .page .service {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.03);
  border-radius: 10px;
  padding: 24px;
  gap: 24px;

  @media screen and (max-width: $sm) {
    flex-direction: column;
    width: 100%;
    display: none;

    &:first-child {
      display: flex;
    }
  }

  &__image {
    width: 256px;
    height: 262px;
    background: #c4c4c4;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: $sm) {
      width: 100%;
    }

    & img {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &:hover {
      & img {
        transform: scale(1.2);
        transition: transform 0.5s ease;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $sm) {
      gap: 24px;
    }

    & .tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      & .tag {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 105px;
        height: 32px;
        border-radius: 32px;

        &__icon {
          width: 16px;
        }

        &__name {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #c4c4c4;
        }

        &:first-child {
          background: #fff5e8;
        }

        &:last-child {
          background: #f4f7ff;
        }
      }
    }

    & .title {
      font-style: normal;
      font-weight: 700;
      font-size: px-to-rem(20);
      line-height: 32px;
      color: #333333;
      max-width: 246px;
    }

    & .price {
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 21px;
      color: #e8630a;
    }

    & .numbers {
      font-style: normal;
      font-weight: 400;
      font-size: px-to-rem(14);
      line-height: 18px;
      color: #999999;

      & span {
        padding: 0 4px;

        &:nth-of-type(2) {
          border-left: 1px solid #999999;
          border-right: 1px solid #999999;
        }
      }
    }
  }
}

.dotts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__dot {
    width: 12px;
    height: 12px;
    background: #f2f2f2;
    display: block;
    border-radius: 50%;

    &--active {
      background: #c4c4c4;
    }
  }
}
