.our-blog {
  @include section-rs(796px);
  display: flex;
  align-content: center;
}

.our-blog .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: $lg) {
    justify-content: center;
  }
}

.our-blog .last-post {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: $lg) {
    display: none;
    margin: 42px 0;
  }

  & .image-contaier {
    width: 632px;
    height: 520px;
    background: #c4c4c4;
    border-radius: 10px;
    position: relative;
    margin-bottom: 32px;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }

    & .author {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 189px;
      height: 74px;
      background: #ffffff;
      border-radius: 0px 0px 0px 10px;
      padding: 16px;
      gap: 16px;

      &__image {
        width: 40px;
        height: 40px;
        background: #c4c4c4;
        overflow: hidden;
        border-radius: 50%;

        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          position: relative;
          z-index: 1;
        }
      }

      &__name {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .name {
          font-weight: 500;
          font-size: px-to-rem(14);
          line-height: 18px;
          color: #333333;
        }

        & .title {
          font-weight: 400;
          font-size: px-to-rem(12);
          line-height: 16px;
          color: #999999;
        }
      }
    }

    & .patern {
      position: absolute;

      &.first {
        top: -6%;
        left: -6%;
      }

      &.second {
        bottom: -6%;
        right: -6%;
      }
    }
  }

  & .title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 40px;
    color: #333333;
    max-width: 666px;
  }

  & .post-review {
    font-style: normal;
    font-weight: 400;
    font-size: px-to-rem(14);
    line-height: 24px;
    color: #999999;
    max-width: 576px;

    & .read-more-btn {
      font-style: normal;
      font-weight: 500;
      font-size: px-to-rem(14);
      line-height: 24px;
      color: #c4c4c4;
      text-decoration: none;

      &:hover {
        color: #999999;
      }
    }
  }
}

.our-blog .posts-review {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: $md) {
    overflow: hidden;
  }

  & .head {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: $lg) {
      align-items: center;
      text-align: center;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 21px;
      color: #c4c4c4;

      @media screen and (max-width: $sm) {
        font-size: px-to-rem(14);
        line-height: 18px;
      }
    }

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 48px;
      color: #333333;
      max-width: 388px;

      @media screen and (max-width: $sm) {
        font-size: px-to-rem(24);
        line-height: 40px;
      }
    }
  }

  & .last-post {
    display: none;

    @media screen and (max-width: $lg) {
      display: flex;
    }

    & .image-contaier {
      @media screen and (max-width: $md) {
        width: 100%;
      }

      @media screen and (max-width: $sm) {
        height: 254px;
      }
    }

    @media screen and (max-width: $md) {
      margin-bottom: 0;
    }

    & .title {
      @media screen and (max-width: $sm) {
        font-size: 1rem;
        line-height: 32px;
      }
    }
  }

  & .posts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__post {
      display: flex;
      flex-direction: row;
      width: 472px;
      min-height: 120px;
      background: #ffffff;
      box-shadow: 10px 32px 72px rgba(0, 0, 0, 0.03);
      border-radius: 10px;
      padding: 16px;
      gap: 16px;

      @media screen and (max-width: $lg) {
        width: 100%;
      }

      & .image {
        max-width: 88px;
        width: 100%;
        height: 88px;
        background: #c4c4c4;
        border-radius: 10px;
        overflow: hidden;

        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      & .content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__title {
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 24px;
          color: #333333;

          @media screen and (max-width: $sm) {
            font-size: px-to-rem(12);
            line-height: 18px;
          }
        }

        &__name {
          font-style: normal;
          font-weight: 400;
          font-size: px-to-rem(14);
          line-height: 24px;
          color: #999999;

          @media screen and (max-width: $sm) {
            font-size: px-to-rem(10);
            line-height: 13px;
          }
        }
      }
    }
  }
}
