// --------------------------------------------
// -                 colors                   -
// --------------------------------------------
$primary: #c4c4c4;
$white: #ffffff;

// --------------------------------------------
// -            Break Points                  -
// --------------------------------------------
//          material ui breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
