// --------------------------------------------
// -                 colors                   -
// --------------------------------------------
$primary: #035397;
$primary-bold: #001e6c;
$white: #ffffff;
$yellow: #fcd900;

// --------------------------------------------
// -            Break Points                  -
// --------------------------------------------
//          material ui breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
