.btn {
  border-radius: 10px;
  padding: 9.5px 29.078px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: background-color 0.3s ease;

  @media screen and (max-width: $md) {
    padding: 18.8045px 29.078px;
  }

  &.primary {
    background-color: $primary;
    color: $white !important;

    &:hover {
      background-color: $primary-bold;
    }
  }

  &.secondary {
    color: $primary;
    border: 1px solid $primary;
    box-sizing: border-box;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}
