.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: unset;
  text-decoration: unset;
  gap: 6px;

  &__icon {
    width: 24px;
    transition: all 0.3s ease;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 21px;
    color: #c4c4c4;
    transition: all 0.3s ease;
  }

  &:hover {
    .logo__icon {
      transform: rotate(90deg);
    }

    .logo__text {
      color: $primary;
    }
  }
}
