.patern {
  display: grid;
  grid-template-rows: repeat(4, 8px);
  grid-template-columns: repeat(5, 8px);
  gap: 8px;

  &__dot {
    background-color: $yellow;
    border-radius: 50%;
    opacity: 0.4;

    &:hover {
      background-color: $primary;
    }
  }
}

// html copy
// <div class="patern">
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
//     <div class="patern__dot"></div>
// </div>
